/* tag ile kullanım
p{
    background-color: black;
}
id ile
#parag_id{
    background-color: orange;
}
class ile
.parag_class{
    background-color: yellow;
} */
#parag_id{
    color: red;
    background-color: blue !important;
    background-color: black;

    padding: 10px 15px 25px 12px;
    margin:110px 115px 125px 112px;

}
/* border border-radius */
#div_id{
    background-color: black;
    color: yellow;
    padding: 25px;
    margin: 20px;
    border-width: 20px;
    border-style: solid;
    border-color: blue;
    border: 20px solid blue;
    border-radius: 20px;
}

#parag_id4{
    font-family: "Madimi One", sans-serif;
    color: lightblue;
    background-color: black;
    font-size: 18px;
    font-weight: 200;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 3;
    text-align: justify;
    padding: 10px;
    margin: 20px;
    text-shadow: 2px 3px 4px yellow;
        
      }
/* coulumn count */
.column-container{
    column-count: 3;
    column-gap: 20px;
    column-rule: 1px solid red;
}

/* line clamp */
.line-clamp4{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
/* for other browsers */
    display: -moz-box;
    -moz-line-clamp: 4; /* number of lines to show */
    -moz-box-orient: vertical;
}
/* Link */
#miuul_a{
    color: red;
    text-decoration: none;
    background-color: blue!important;
    background-color: black;
}
#miuul_a:hover{
    color: black;
    text-decoration: none;
    background-color: blue!important;
    background-color: black;
}

.width_height{
    background-color: blue;
    margin-top: 5px;
    width: 70%;
    height: 50px;
}
/* hover üzerine gelince demek */
.width_height:hover{
    background-color: white;
    color: blue;
    cursor: move;
}
/* <!-- transition-transform-boxshadow --> */

.transition_transform{
    background-color: blue;
    color: black;
    width:75%;
    height:100px;
    padding: 10px;
    transition: width 3s ease-in-out 3s, background-color 0.5s linear;
    transition: 3s all;
    box-shadow: 1pc 2px 4px 1px rgba(0,0,0,0.5);
}
.transition_transform:hover{
    background-color: black;
    color: blue;
    width:100%;
    transform: rotate(15deg);
    transform: scale(1.5);
}

/* width 200 px yapmak için */
*{
    box-sizing: border-box;

}

/* display */
.display{
    /* 
    display: none; 
    visibility: visible;
    visibility: hidden;
    */
    display: inline;
    display: inline-block;  
    border: 5px solid yellow;
    width: 200px;
    padding: 20px;
    /*w=200x p=20*2=40px border=5.2=10px  250px*/
}

/* Liste*/
.menu{
    background-color: red;
    overflow: hidden;
}
.menu ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.menu li{
    float: left;
}
.menu a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px 19px;
    text-decoration: none;


}
/* table */
.custom-table{
    width: 100%;
    margin-top: 25px;
    border-collapse: collapse;
}
.custom-table td, .custom-table th{
    border: 1px solid #dd1;
    text-align: center;
}
.custom-table th{
    background-color: aqua;
}
.custom-table tbody tr:nth-child(even){
    background-color: blueviolet;
}

/*rem= html em = body calc= hesaplama*/
body{
    font-size: 32px;
}

/* html{
    font-size: 16px;
} */
 #parag6{
    /* font-size: 2rem; */
    /* font-size: 2em; */
    font-size: calc(1em + 5px);

} 

/* image */
#image_id{
    background-image: url("./img/5.png");
    width: 100%;
    height: 250px;
    background-size: cover;
    /* object-fit: cover; */
}

/*header*/

header{
    background-image: url(./img/3.png);
    background-position: center;
    background-size: cover;
    height: 75vh;/*viewport tarayıcının sağladığı kullanıcı görebildiği alan*/
    width: 100%;
    padding: 22px;
    text-align: center;

}
#linear_gradient{
    background: linear-gradient(to right, #820cc7, yellow);
    background-position: center;
    background-size: cover;
    height: 75vh;/*viewport tarayıcının sağladığı kullanıcı görebildiği alan*/
    width: 100%;
    padding: 22px;
}