/* tag ile kullanım
p{
    background-color: black;
}
id ile
#parag_id{
    background-color: orange;
}
class ile
.parag_class{
    background-color: yellow;
} */
#parag_id{
    color: red;
    background-color: blue !important;
    background-color: black;

    padding: 10px 15px 25px 12px;
    margin:110px 115px 125px 112px;

}
/* border border-radius */
#div_id{
    background-color: black;
    color: yellow;
    padding: 25px;
    margin: 20px;
    border-width: 20px;
    border-style: solid;
    border-color: blue;
    border: 20px solid blue;
    border-radius: 20px;
}

#parag_id4{
    font-family: "Madimi One", sans-serif;
    color: lightblue;
    background-color: black;
    font-size: 18px;
    font-weight: 200;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 3;
    text-align: justify;
    padding: 10px;
    margin: 20px;
    text-shadow: 2px 3px 4px yellow;
        
      }
/* coulumn count */
.column-container{
    column-count: 3;
    column-gap: 20px;
    column-rule: 1px solid red;
}

/* line clamp */
.line-clamp4{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
/* for other browsers */
    display: -moz-box;
    -moz-line-clamp: 4; /* number of lines to show */
    -moz-box-orient: vertical;



}